/* DOCUMENTAL.CSS */

.documental {
    background-color: #FFFCF7; 
    padding: 40px 20px;
    width: 100%;
  }
  
  .container-documental {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .texto-container {
    max-width: 600px;
    text-align: justify;
    padding: 0 10px;
  }
  
  
  .texto-documental {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
    font-weight: 400;
    margin-top: 1.25rem;
    text-align: justify;
  }
  
  .container-video-documental {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    padding: 0 10px;
  }

  @media (min-width: 1024px) {
    .container-documental {
      flex-direction: row;
      justify-content: space-between;
      /* align-items: flex-start; */
      gap: 100px; /* aumentamos el espacio entre los bloques */
    }
  
  /*   .texto-container {
      width: 45%;
    } */

    .titulo-documental{
       font-size: 32px;
    }
  
    .container-video-documental {
      width: 55%;
      padding: 0;
    }
  }
  @media (min-width: 1440px) {

    .container-documental {
      gap: 200px; /* Más separación todavía en pantallas grandes */
  }

    .container-video-documental {
        width: 70%;
    }
    .texto-container {
        width: 60%;
    }
}