.container-data {
    padding: 2rem;
    background-color: #FFFCF7;
}

.container-data .texto{
    text-align: justify;
    font-size: 1.1rem;
}

@media (min-width: 768px){
    
  .container-data .texto{
        font-size: 21px;
        font-weight: 300;
        padding: 0 1rem;
    }
}


@media (min-width: 1024px){
    
  .container-data .texto{
        font-size: 20px;
        padding: 0 5vw;
    }

}

@media (min-width: 1440px){
    
    .container-data .texto{
        font-size: 23px;
          padding: 0 7vw;
      }
    }