.compra-bentonita{
    background-color: #1d6b87;
    padding: 2rem;
}

.compra-bentonita-title{
    font-size: 38px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.compra-bentonita-data{
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
    color: #FFFFFFFF;
}

.button-compra-bentonita{
    margin: 1rem;
}