.prueba{
    background: url('../../../public/assets/banner/yacimiento.jpeg') fixed center center;
    background-size: cover;
    padding: 200px 0px;
}

.textoPrueba{
    color: red;
    font-size: 30px;
}