/* Fondo claro para el navbar */
.bg-light {
    background-color: #FFFCF7;
}

.navbar{
    --bs-navbar-padding-y: 0.2rem;
}

/* Marca del navbar */
.navbar-brand {
    color: #1d6b87 !important;
}

/* Estilo del brand */
.navbar-light .navbar-brand {
    color: #1d6b87;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.navbar-light .navbar-brand:hover {
    color: #1d6b87;
}

/* Enlaces del navbar */
.navbar-light .link {
    color: #1d6b87;
    font-size: 20px;
    padding: 0.30rem 2rem;
    text-align: center;
    text-transform: uppercase;
}

.navbar-light .link:hover {
    color: #5aaecc;
}

/* Ícono del botón de toggle */
.navbar-toggler {
    color: #1d6b87;
}


.navbar .logo{
    width: 75px;
    margin: 0.15rem 0;
}

@media (min-width: 768px){
    .navbar .logo{
        width: 100px;
    }
}
/* ===== MOBILE ===== */
@media (max-width: 1023px) {
    .navbar-collapse.show {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .navbar-collapse.show .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
    /* Asegura que el container distribuya brand a la izquierda y nav a la derecha */
    .navbar .container {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    /* Evita que el collapse ocupe todo el ancho */
    .navbar-collapse {
        flex-grow: 0 !important;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .navbar .logo{
        width: 90px;
    }
}


