.container-extraccion{
    margin: 2rem 0px;
}

.img-extraccion{
    width: 90%;
    border-radius: 10px;
}

.container-data-extraccion{
    margin: 2rem;
}

.title-extraccion{
    font-family: 'Roboto Slab', serif;
    color: #424a4f;
}

.data-extraccion{
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    margin-top: 1rem;
}
