.banner{
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/assets/banner/yacimiento.webp') center;
    background-size: cover;
    width: 100%;
    padding: 18vh 10vw;
}

.title-banner{
    color: #00ACBB;
    font-size: 15vw;
    text-align: center;
    font-weight: 700;
}

.subtitle-banner{
     font-size: 7vw;
     color: #fff;
     font-weight: 300;
     text-align: center;
}

#inicio .btn-secondary{
    background-color: #00ACBB;
    border: none;
    padding: 0.75rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2rem auto 0;
    font-size: 4vw;
}


@media (min-width: 768px){
    
    .title-banner{
        font-size: 12vw;
    }

    .subtitle-banner{
        font-size: 4.5vw;
    }

    #inicio .btn-secondary{
        font-size: 2.75vw;
    }
    

@media (min-width: 1024px){

    .banner{
        width: 100%;
        padding: 14vh 10vw;
    }
    
    .title-banner{
        font-size: 7vw;
    }

    .subtitle-banner{
         font-size: 3vw;
    }

    #inicio .btn-secondary{
        font-size: 2vw;
    }
}
}
@media (min-width: 1440px){

    #inicio .btn-secondary{
        font-size: 1.35vw;
    }
}

@keyframes latido {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .latido {
    animation: latido 4.5s infinite;
    transition: transform 0.3s ease-in-out;
  }