.banner{
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/assets/banner/yacimiento.jpeg') center;
    background-size: cover;
    width: 100%;
    padding: 18vh 10vw;
}

.title-banner{
    font-family: 'Roboto Slab', serif;
    color: #00ACBB;
    font-size: 15vw;
}

.subtitle-banner{
    font-family: 'Roboto Slab', serif;
     font-size: 7vw;
     color: #fff;
     font-weight: 200;
}

.texto-explicativo-azul{
    color: #424A4F;
    background-color: #dfeeee;
    font-family: 'Roboto Slab', serif;
    font-size: 21px;
    padding: 1rem 1rem;
    font-weight: 300;
}

.texto-explicativo-blanco{
    color: #424A4F;
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 21px;
    margin: 0px 0em;
    padding: 1rem 1rem;
    font-weight: 300;
}

@media (min-width: 768px){
    
    .title-banner{
        font-size: 12vw;
    }

    .subtitle-banner{
        font-size: 4.5vw;
    }
    
    .texto-explicativo-azul,
    .texto-explicativo-blanco{
        font-size: 21px;
        font-weight: 300;
        padding: 2rem;
    }
   
}


@media (min-width: 1024px){

    .banner{
        width: 100%;
        padding: 14vh 10vw;
    }
    
    .title-banner{
        font-size: 7vw;
    }

    .subtitle-banner{
         font-size: 3vw;
    }

    .texto-explicativo-azul{
        padding: 2rem 15rem 2rem 15rem;
    }

    .texto-explicativo-blanco{
        padding: 2rem 15rem;
    }

}